$primaryColor: #1d512b;     // deep natural green
$secondaryColor: #509e4f;   // fresh light green
$accentColor: rgb(108, 108, 108);      // warm soil / mulch tone
$greyColor: #D6D6D6;        // subtle neutral

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;